<!DOCTYPE html>
<html>
<head>
  <title>RubySource User Auth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="Main_Header">
		<h1>Ruby Source</h1>
		<%unless session[:user_id]%>
			<ul class="nav">
				<li><%= link_to :Signup , :signup, class: "nav_links"%></li>|
				<li><%= link_to :Login , :login, class: "nav_links"%></li>	
			</ul>
		<%else%>
			<ul class="nav">
				<li><%= link_to :Home , :home, class: "nav_links" %> |</li>
				<li><%= link_to :Profile , :profile, class: "nav_links" %> |</li>
				<li><%= link_to :Setting , :setting, class: "nav_links" %> |</li>
				<li><%= link_to :Logout , :logout, class: "nav_links" %></li>	
			</ul>
		<%end%>
	</div>
	<% if flash[:color]== "valid" %>
		<div class="valid_notice">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="invalid_notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%else%>
		<div class="notice">
			<p><%=flash[:notice]%></p>
		</div>
	<%end%>
<%= yield %>
<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> Username:</br> <%= f.text_field :username%> </p>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
    <%= f.submit :Signup %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
</body>
</html>
